@import 'variables';
@import 'utilities';


/* ===========================================================================
Front Main Page
=========================================================================== */

.button_container {
    line-height: 1.2em;

    .btn {
        font-size: 20px;
    }

    .try_it_btn {
        padding: 20px 70px;
    }
}

.index {

    overflow: hidden;
    margin-bottom: -50px;

    h1 {
        font-weight: 900;
        font-family: $font-lato;
    }

    header {
        color: $color-gray-black;
        background-color: $color-gray-white;
        padding-top: 80px;
        line-height: 0;

        h1 {
            font-size: 86px;
            line-height: 0.9em;
        }

        p {
            font-size: 28px;
            line-height: 1.2em;
            margin: 50px 0;
        }

        img {
            display: none;
            position: absolute;
            bottom: 0;
            left: 85px;
        }

        .cover_image_container {
            animation-duration: 2.5s;
            height: 575px;
            position: relative;
        }

        .button_container {
            margin-bottom: 85px;

            .try_it_btn {
                margin-right: 10px;
                font-weight: normal;
            }

            .demo_button {
                padding: 18px 54px;
                color: $green;
                border-color: $green;
            }
        }
    }

    .references,.articles {
        padding: 30px 0;

        .one_company, .one_article {
            border-right: 1px solid $color-gray-light;

            &:last-of-type { border: none; }
        }

        .image_holder {
            height: 80px;
            text-align: center;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .feature_selector {
        text-align: center;
        color: #fff;
        padding: 80px 0 90px 0;

        background: #4169b1;
        background: -webkit-linear-gradient(#4169b1, #42c1d0);
        background: -o-linear-gradient(#4169b1, #42c1d0);
        background: -moz-linear-gradient(#4169b1, #42c1d0);
        background: linear-gradient(#4169b1, #42c1d0);

        p {
            font-size: 28px;
            margin: 40px 0 100px 0;
            line-height: 1.2em;
        }

        .options {
            h3 {
                font-size: 24px;
                color: $color-gray-black;
            }

            p {
                font-size: 20px;
                color: $color-gray-dark;

            }
        }

        .feature_box {
            background: #fff;
            min-height: 300px;

            p {
                margin: 30px 0 10px 0;
            }

            h3 {
                font-weight: bold;
            }

            .image_container {
                height: 85px;
                margin-bottom: 20px;
            }

            &:hover {
                background: $color-gray-white;

                .image_container img {
                    -ms-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);

                    -moz-transition: all 400ms ease-out;
                    -webkit-transition: all 400ms ease-out;
                    transition: all 400ms ease-out;
                }
            }
        }

        .option_box {
            padding: 35px 25px 25px 25px;
        }

        .middle_option_box {
            padding: 5px 0;

            .middle_box {
                padding: 30px 25px 20px 25px;
                border-right: 1px solid $color-gray;
                border-left: 1px solid $color-gray;
            }
        }

        .left_box {
            @include border-radius(6px 0 0 6px);
        }

        .right_box {
            @include border-radius(0 6px 6px 0);
        }
    }

    .feature_selector, .case_studies {
        h1 {
            font-size: 55px;
        }
    }

    .how_it_works, .reach_colleagues {
        h1 {
            font-size: 45px;
        }

        p {
            font-size: 20px;
            margin: 50px 0 80px 0;
            line-height: 1.7em;

            a {
                padding: 1px 5px;
                @include border-radius(2px);
                color: #fff;
            }
        }
    }

    .how_it_works {
        padding: 100px 0 30px 0;

        p {
            a { background-color: #00d7b1; }
        }

        img {
            display: none;
            float: right;
        }

        .highlighted_keyword {
            background-color: #fff;
            color: #00d7b1;
            -moz-box-shadow: inset 0 0 0 2px #00d7b1;
            -webkit-box-shadow: inset 0 0 0 2px #00d7b1;
            box-shadow: inset 0 0 0 2px #00d7b1;
        }

        .image_container {
            height: 620px;
        }

        .button_container {
            font-size: 20px;
        }

        .see_demo_button {
            border-color: #00d7b1;
            color: #00d7b1;
            padding: 13px 60px;
        }

        .watch_video_btn {
            background-color: #00d7b1;
            padding: 15px 53px;
            color: #fff;
            font-weight: normal;
            margin-right: 5px;
        }
    }

    .idea_park {
        padding: 100px 0;
        background: #f6f7fa;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 20px;
            margin: 50px 0;
            line-height: 1.7em;

            a {
                background-color: #4169b1;
                padding: 1px 5px;
                @include border-radius(2px);
                color: #fff;
            }
        }

        h4 {
            font-weight: bold;
            font-size: 20px;
        }

        .idea_park_info {
            margin-left: 10px;
        }

        .check_idea_park_btn {
            color: #4169b1;
            border-color: #4169b1;
            padding: 15px 30px;
        }

        .idea_park_activity_container{
            display: none;
            animation-duration: 0.8s;

            .activity {
                display: inline-block;
                vertical-align: middle;

                img {
                    width: 100%;
                }
            }

            &.front_image_active{
                display: inline-block;
            }
        }

        .arrow {
            height: 75px;
            margin-top: 195px;
        }
    }

    .reach_colleagues {
        padding: 90px 0 40px 0;

        p {
            a { background-color: #e72b61; }
        }

        h1 {
            margin-top: 75px;
        }

        img {
            display: none;
            float: right;
        }

        .highlighted_keyword {
            background-color: #fff;
            color: #e72b61;
            -moz-box-shadow: inset 0 0 0 2px #e72b61;
            -webkit-box-shadow: inset 0 0 0 2px #e72b61;
            box-shadow: inset 0 0 0 2px #e72b61;
        }

        .image_container {
            height: 646px;
        }

        .more_features_btn {
            border-color: #e72b61;
            color: #e72b61;
            padding: 15px 20px;
        }
    }

    .try_it_free {
        background: $color-gray-blue;
        padding: 70px 0;
        color: #fff;

        p {
            font-size: 20px;
            line-height: 1.5em;
        }

        .button_container {
            text-align: center;
        }
    }

    .case_studies {
        padding: 65px 0 90px 0;
        background: #f6f7fa;

        h1 {
            margin-bottom: 60px;
        }

        p {
            font-size: 20px;
            margin: 35px 0 25px 0;
            line-height: 1.4em;
            width: 95%;
        }

        small { display: block; }

        .case_study_container {
            overflow: hidden;
        }

        .case_study {
            display: none;
            animation-duration: 0.7s;
            min-height: 370px;
        }

        .case_study_info {
            margin-top: 10px;
        }

        .active_case_study {
            display: block;
        }

        .image_container {
            img {
                width: 100%;
                border: 15px solid #fff;
            }
        }

        .ppf_logo {
            height: 62px;
        }

        .misys_logo {
            height: 40px;
        }


        .read_case_study_btn {
            border-color: $green;
            color: $green;
            padding: 15px;
            margin-top: 45px;
        }

        .right_arrow_grey {
            margin-top: 120px;
            height: 90px;
        }
    }

    .get_a_quote {

        padding: 60px 0 20px 0;

        h1 {
            font-weight: normal;
            text-transform: capitalize;
            font-size: 30px;
            margin-bottom: 45px;
            color: $color-gray-dark;
        }

        form {
            .form-row {
                margin-bottom: 10px;

                label {
                    display: block;
                    text-align: left;
                    margin-left: 35px;
                }

                input {
                    width: 90%;
                    background: #fff;
                    border: 2px solid $color-gray-light;
                    padding: 15px 20px;
                }
            }

            .get_a_quote_btn {
                width: 90%;
                padding: 17px 0;
                margin: 15px 0 40px 0;
                font-size: 16px;
            }

            .sign_in_btn {
                color: $color-gray;
                font-size: 16px;
            }
        }
    }

    img.front_image_active {
        display: block;
    }
}


/* ===========================================================================
Case Study Page
=========================================================================== */

.case_study_page {
    p {
        line-height: 1.6em;
        font-size: 20px;
        text-align: justify;
    }

    q, h2 {
        font-size: 26px;
        line-height: 1.3em;
        font-style: italic;
        margin: 40px 0 45px 0;
        display: inline-block;
    }

    header {
        line-height: 0;
        margin-bottom: 30px;

        h1 {
            margin-top: 70px;
            font-size: 88px;
            font-family: $font-lato;
            font-weight: 900;
        }

        h2 {
            margin: 40px 0 80px 0;
            font-size: 27px;
            font-style: normal;
        }

        p { margin-bottom: 5px; }

        .case_study_cover {
            background: $color-gray-white;
            height: 640px;

            .img_container {
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
            }
        }

        .main_info {
            padding: 0 60px;
        }

        .category {
            text-align: center;
            text-transform: uppercase;

            h3 {
                font-size: 19px;
                color: $color-gray-dark;
                line-height: 1em;
            }

            p {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .category_title {
            height: 50px;
        }
    }

    .text_next_to_image_right {
        padding-left: 15px;
    }

    .text_next_to_image_left {
        padding-right: 15px;
    }

    .text_margin_top {
        margin-top: 40px;
    }

    .wide_text {
        margin: 15px 0;
    }

    .percent_box {
        background: $color-gray-white;
        width: 240px;
        height: 250px;
        padding: 40px 30px;
        text-align: center;
        margin: 25px 0;
        @include border-radius($border-radius-default);

        p {
            color: #34414a;
            font-size: 70px;
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 20px;
            font-family: $font-lato;
            text-align: center;
        }

        small {
            line-height: 1.2em;
            text-align: center;
            font-size: 20px;
        }
    }

    .box_top_margin {
        margin-top: 90px;
    }

    .button_container {
        text-align: center;
    }

    .get_pdf_file {
        background: $color-gray-blue;
        padding: 50px 0;
        color: #fff;
        margin: 40px 0;

        p {
            font-size: 20px;
            line-height: 1.5em;
            margin-bottom: 0;
        }

        #case_study_download_pdf_modal {

            .modal-dialog{
                margin-top: 150px;

                .modal-content{
                    box-shadow: none;

                    .modal-header {
                        text-align: center;
                        padding: 40px 30px 10px 40px;
                        border: none;

                        h2{
                            color: #000;
                            font-size: 30px;
                        }

                        span{
                            font-size: 30px;
                        }

                        i{
                            font-size: 80px;
                            color: $green;
                            margin-bottom: 20px;
                        }

                    }

                    .modal-body {
                        text-align: center;
                        padding-top: 0;

                        p {
                            margin: 0;
                            padding: 20px;
                            font-size: 16px;
                            color: $color-gray-dark;
                            text-align: center;
                        }
                    }

                    .modal-footer {
                        margin: 15px 0 40px 0;
                        text-align: center;
                        border: none;

                        input {
                            color: $color-gray-dark;
                            width: 90%;
                            background: #fff;
                            border: 2px solid $color-gray-light;
                            padding: 15px 20px;
                            outline: none;

                            &::placeholder{
                                color: $color-gray-light;
                            }
                        }

                        .case_study_btn {
                            width: 90%;
                            padding: 17px 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .activity_infos{
        padding: 40px 0 50px 0;
        margin: 40px 0;

        background: #00d6b0;

        .top_activity_title{
            padding: 20px 0 20px 35px;
            font-family: $font-lato;

            span{
                color: #fff;
                font-size: 60px;
                font-weight: 900;
                display: block;
                height: auto;
                line-height: 1.1em;
            }
        }

        .rating_option {
            font-size: 20px;
        }

        img{
            height: 22px;
        }

        .top_activity_progress{
            padding: 15px 30px 0 0;
        }

        div.progress {
            background-color: #16ceac;
            border-radius: 100px;
            height: 12px;
            margin-top: 5px;
            box-shadow: none;

            div.progress-bar {
                transition: 1.5s ease-in-out;
                border-radius: 100px;
                background-color: #fff;
                box-shadow: none;
            }

        }
    }

    .try_it_free {
        padding: 60px 0;
        background: $color-gray-white;
        margin: 20px 0 60px 0;

        h3 {
            font-family: $font-lato;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 15px;
            color: $color-gray-black;
        }

        p {
            font-size: 20px;
            margin-bottom: 0;
        }
    }

    .case_studies_menu {

        .case_study_box {
            background: $color-gray-white;
            line-height: 0;


            h4 {
                font-size: 24px;
                font-family: $font-lato;
                font-weight: bold;
                line-height: 1em;
            }

            small {
                font-size: 20px;
                line-height: 1.3em;
                margin-top: 10px;
                display: inline-block;
            }

            p {
                font-size: 20px;
                text-transform: uppercase;
                display: inline-block;
            }

            i {
                float: right;
                margin-top: 8px;
            }

            img { width: 100%; }

            .top_part {
                padding: 15px 30px 20px 30px;
                min-height: 225px;
            }

            .bottom_part {
                padding: 20px 30px;
            }
        }
    }
}

.case_study_chemaxon {
    header h2, .percent_box small {
        color: #e72b61;
    }

    header {
        .img_container {
            background: url(../images/front/main_page/case_studies/chemaxon_cover.png);
        }
    }

    .percent_box {
        border-top: 5px solid #e72b61;
    }
}

.case_study_misys {
    header h2, .percent_box small {
        color:  #4169b1;
    }

    header {
        .img_container {
            background: url(../images/front/main_page/case_studies/misys_cover.png);
        }
    }

    .percent_box {
        border-top: 5px solid #4169b1;
    }
}

.case_study_ppf {
    header h2, .percent_box small {
        color: #02a185;
    }

    header {
        .img_container {
            background: url(../images/front/main_page/case_studies/ppf_cover.png);
        }
    }

    .percent_box {
        border-top: 5px solid #02a185;
    }
}

.case_studies_menu {

    .chemaxon_box {
        .bottom_part {
            color: #e72b61;
        }

        &:hover {
            .bottom_part {
                background: #e72b61;
                color: #fff;
            }
        }
    }

    .misys_box {
        .bottom_part {
            color: #4169b1;
        }

        &:hover {
            .bottom_part {
                background: #4169b1;
                color: #fff;
            }
        }
    }

    .ppf_box {
        .bottom_part {
            color: #02a185;
        }

        &:hover {
            .bottom_part {
                background: #02a185;
                color: #fff;
            }
        }
    }
}


/* ===========================================================================
Media Queries
=========================================================================== */


//  col-xs
@media screen and (max-width: 767px) {

    /* ===========================================================================
        Front Main Page
        =========================================================================== */

    .index {

        .button_container {
            .btn {
                font-size: 17px;
            }
        }

        header {
            padding: 35px 15px 0 15px;
            text-align: center;

            h1 {
                font-size: 38px;
            }

            p {
                font-size: 18px;
                line-height: 1.3em;
                margin: 40px 15px;
            }

            .cover_image_container {
                display: none;
            }

            .button_container {
                margin-bottom: 40px;

                .try_it_btn {
                    margin-right: 0;
                    margin-bottom: 13px;
                    padding: 15px 55px;
                }

                .demo_button {
                    padding: 13px 42px;
                }
            }
        }

        .references, .articles {
            display: none;
        }

        .feature_selector {
            padding: 25px 0 30px 0;

            h1 {
                line-height: 1.2em;
                font-size:28px;
            }

            p {
                font-size: 19px;
                margin: 30px 0 40px 0;
            }

            .feature_box {
                min-height: 180px;
                margin-bottom: 5px;

                @include border-radius($border-radius-default);
            }

            .middle_option_box {
                .middle_box {
                    border: none;
                    padding: 5px 18px 0 18px;
                }
            }

            .feature_box {
                padding: 20px 18px 15px 18px;

                h3 { font-size: 19px; }

                p {
                    font-size: 17px;
                    margin: 10px 0 5px 0;
                }

                .image_container {
                    margin-bottom: 5px;
                    height: 50px;

                    img { width: 45px; }
                }

                &:hover {
                    .image_container img {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }

        .how_it_works, .reach_colleagues {
            padding: 30px 0 10px 0;
            text-align: center;

            h1 { font-size: 27px; }

            p {
                margin: 15px 0 25px 0;
                font-size: 17px;
                line-height: 1.6em;
            }

            .image_container {
                margin-left: 10px;
            }

            .front_image_active {
                margin-top: 20px;
                width: 100%;
            }
        }

        .how_it_works {
            .watch_video_btn {
                padding: 10px 35px;
                margin-right: 0;
            }

            .see_demo_button { display: none; }
        }

        .idea_park {
            padding: 20px 0 5px 0;
            text-align: center;

            h1 { font-size: 28px; }

            h4 { font-size: 16px; }

            p {
                font-size: 17px;
                margin: 25px 0;
                line-height: 1.5em;
            }

            .check_idea_park_btn {
                display: none;
            }

            .arrow {
                height: 50px;
                margin-top: 60px;
            }

            .idea_park_activity_container {min-height: 237px; }

            .mobile_idea_park_link {
                font-weight: bold;
                color: #4169b1;
                text-decoration: underline;
                display: inline-block;
                margin: 15px 0 20px 0;
                font-size: 15px;
            }
        }

        .reach_colleagues {
            .more_features_btn { padding: 10px 15px; }

            p { margin-bottom: 0; }

            h1 { margin-top: 0; }
        }

        .try_it_free {
            padding: 20px 0;
            text-align: center;

            p {
                font-size: 17px;
                line-height: 1.2em;
            }

            .button_container {
                margin-top: 15px;

                .try_it_btn { padding: 12px 43px; }
            }
        }

        .case_studies {
            padding: 20px 0 0 0;

            h1 {
                font-size: 28px;
                margin-bottom: 10px;
            }

            p {
                font-size: 17px;
                margin: 20px 0 15px 0;
                line-height: 1.2em;
                width: 100%;
            }

            small {
                font-size: 13px;
                line-height: 1.2em;
            }

            .case_study { padding-left: 12px; }

            .case_study_info {
                margin-top: 20px;
            }

            .image_container img { display: none; }

            .right_arrow_grey {
                margin-top: 100px;
                height: 55px;
            }

            .read_case_study_btn {
                margin-top: 25px;
                padding: 10px 15px;
            }

            .tata_logo { height: 42px; }

            .misys_logo { height: 30px; }

            .chemaxon_logo { height: 26px; }
        }

        .get_a_quote {
            padding: 20px 0 0 0;

            h1 {
                font-size: 22px;
                margin-bottom: 0;
            }

            form {

                .form-row {
                    label {
                        margin-bottom: 0;
                        margin-left: 30px;
                    }

                    input {
                        padding: 10px;
                        margin-bottom: 5px;
                    }
                }

                .get_a_quote_btn {
                    margin: 12px 0 20px 0;
                    padding: 12px 0;
                }

                .sign_in_btn { font-size: 14px; }
            }
        }
    }



    /* ===========================================================================
       Case Study Page
       =========================================================================== */

    .case_study_page {

        p {
            font-size: 18px;
            text-align: left;
            margin-bottom: 15px;
        }

        q {
            font-size: 20px;
            margin: 10px 0 15px 0;
        }

        header {
            margin-bottom: 20px;

            h1 {
                margin-top: 20px;
                font-size: 44px;
            }

            h2 {
                margin: 35px 0 50px 0;
                font-size: 20px;
            }

            .case_study_cover { height: 515px; }

            .main_info {
                padding: 0 10px;
            }

            .category_title { height: auto; }

            .category {
                h4 { font-size: 16px; }

                p { font-size: 22px; }
            }
        }

        .second_description {
            .percent_box { margin-bottom: 10px;}
        }

        .text_margin_top { margin-top: 10px; }

        .text_next_to_image_left { padding-right: 0; }

        .text_next_to_image_right { padding-left: 0; }

        .percent_box {
            width: 150px;
            height: 155px;
            padding: 15px 10px 0 10px;
            margin: 10px auto;

            p {
                font-size: 30px;
                margin-bottom: 10px;
            }

            small {
                line-height: 1.3em;
                font-size: 14px;
            }
        }

        .activity_infos {
            padding: 15px 0 20px 0;
            margin-bottom: 10px;

            img { height: 20px; }

            .top_activity_title {
                padding: 0 20px;

                span {
                    display: inline-block;
                    font-size: 24px;
                    margin-right: 3px;
                }
            }

            .top_activity_progress {
                padding: 25px 15px 0 15px;
            }

            .rating_option { font-size: 16px; }
        }

        .get_pdf_file, .try_it_free {
            padding: 35px 0;
            margin: 10px 0;

            p {font-size: 18px; }

            .button_container {
                margin-top: 15px;

                .try_it_btn {
                    padding: 15px 55px;
                }

                .btn { font-size: 18px; }
            }
        }

        .try_it_free {
            margin-bottom: 30px;

            h3 {
                font-size: 28px;
                text-align: center;
            }

            p {
                line-height: 1.3em;
                text-align: center;
            }
        }

        .case_studies_menu {

            p { margin-bottom: 0; }

            .case_study_box {
                margin-bottom: 15px;

                h4 { font-size: 22px; }

                small { font-size: 18px; }

                .top_part { min-height: 101px; }

                .bottom_part { padding: 10px 30px; }
            }
        }
    }

}

//  col-sm
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* ===========================================================================
        Front Main Page
        =========================================================================== */

    .index {
        header {
            h1 { font-size: 58px; }

            p {
                font-size: 22px;
                margin: 75px 0 85px 0;
            }

            img { left: -25px; }

            .button_container {
                .try_it_btn { padding: 20px 30px; }

                .demo_button { padding: 18px 14px; }
            }
        }

        .feature_selector, .case_studies {
            h1 { font-size: 42px; }
            p { font-size: 22px; }
        }

        .feature_selector {
            padding: 55px 0 70px 0;

            p {
                font-size: 23px;
                line-height: 1.3em;
                margin-bottom: 60px;
            }

            .feature_box { min-height: 380px; }

            .middle_option_box {
                .middle_box { padding: 30px 25px 20px 25px; }
            }
        }

        .how_it_works, .reach_colleagues {
            padding: 40px 0 30px 0;
            text-align: center;

            h1 { font-size: 40px; }

            p {
                margin-bottom: 40px;
                font-size: 19px;
            }

            .front_image_active {
                margin-top: 35px;
                width: 100%;
            }
        }

        .how_it_works {
            .see_demo_button {
                display: none;
            }
        }

        .reach_colleagues {
            h1 { margin-top: 0; }

            p { margin-bottom: 0; }
        }

        .idea_park {
            padding: 30px 0 45px 0;
            text-align: center;

            h1 {
                font-size: 38px;
                margin-top: 15px;
            }

            p { margin: 35px 0 40px 0; }

            .check_idea_park_btn { margin-bottom: 50px; }

            .arrow {margin-top: 127px; }

            .idea_park_activity_container { min-height: 402px; }
        }

        .try_it_free {
            padding: 40px 0;

            p { font-size: 19px}

            .button_container { margin-top: 25px; }
        }

        .case_studies {
            padding: 45px 0 40px 0;

            h1 { margin-bottom: 20px; }

            p {
                margin-top: 30px;
                width: 100%;
            }

            .case_study_info {
                padding-left: 40px;
            }

            .image_container img { display: none; }

            .tata_logo { height: 55px; }

            .right_arrow_grey { margin-top: 90px; }

            .button_container {
                padding-left: 40px;

                .read_case_study_btn { margin-top: 40px; }
            }
        }
    }

    /* ===========================================================================
       Case Study Page
       =========================================================================== */

    .case_study_page {

        p {
            line-height: 1.5em;
            font-size: 18px;
        }

        q {
            font-size: 22px;
            margin: 20px 0 50px 0;
        }

        header {
            h1 {
                margin-top: 50px;
                font-size: 54px;
            }

            h2 {
                font-size: 21px;
                line-height: 1.2em;
                margin: 60px 0 100px 0;
            }

            .main_info { padding: 0 30px; }

            .case_study_cover {
                .img_container { background-position: center; }
            }

            .category {
                margin-bottom: 20px;

                h4 { font-size: 16px; }

                p { font-size: 24px; }
            }

            .category_title { height: auto; }
        }

        .percent_box {
            height: 230px;
            width: 225px;
            margin-top: 0;
            padding: 40px 25px 0 30px;

            p { font-size: 50px; }

            small { font-size: 18px; }
        }

        .box_top_margin {
            margin-top: 65px;
        }

        .activity_infos {
            padding: 30px 0 35px 0;

            .top_activity_title {

                padding: 50px 0 20px 0;

                span {
                    font-size: 38px;
                }
            }

            .top_activity_progress {
                padding-right: 0;
            }

            .rating_option {
                font-size: 16px;
            }
        }

        .button_container {
            text-align: right;
        }

        .try_it_free {
            padding: 40px 0 30px 0;

            h3 { font-size: 34px; }

            p { font-size: 18px; }
        }

        .get_pdf_file {
            padding: 25px 0;

            .button_container { margin-top: 15px; }
        }

    }
}

//  col-md
@media screen and (min-width: 992px) and (max-width: 1199px) {


    /* ===========================================================================
        Front Main Page
        =========================================================================== */

    .index {
        header {
            h1 { font-size: 74px; }

            p { font-size: 25px; }

            img { left: 17px; }
        }

        .feature_selector, .case_studies {
            h1 { font-size: 50px; }
        }

        .how_it_works, .idea_park, .reach_colleagues {
            h1 {
                font-size: 37px;
                margin-top: 0;
            }

            p {
                font-size: 19px;
                line-height: 1.6em;
            }
        }

        .feature_selector {
            p { font-size: 24px; }

            .options {
                h3 { font-size: 22px; }

                p { font-size: 19px; }
            }

            .option_box {
                padding: 35px 20px 25px 20px;
            }

            .feature_box:hover {
                .image_container img {
                    transform: scale(1.1, 1.1);
                }
            }
            .middle_option_box {
                .middle_box { padding: 30px 25px 27px 25px; }
            }
        }

        .how_it_works {
            padding-top: 90px;

            img { width: 95%; }

            .watch_video_btn { padding: 15px 32px; }

            .see_demo_button { padding: 13px 39px; }

            .image_container { height: 490px; }
        }

        .idea_park {
            padding: 60px 0 40px 0;

            h1 { font-size: 29px; }

            p {
                margin: 30px 0 45px 0;
                font-size: 18px;
                line-height: 1.5em;
            }

            .idea_park_activity_container {
                min-height: 435px;
            }

            .idea_park_info { margin-left: 13px; }

            .check_idea_park_btn { margin-bottom: 20px; }

            .arrow {
                height: 70px;
                margin-top: 160px;
            }
        }

        .reach_colleagues {
            padding: 70px 0 10px 0;

            img { width: 93%; }

            .image_container { height: 615px; }
        }

        .try_it_free {
            padding: 50px 0;
        }

        .case_studies {
            padding: 50px 0 75px 0;

            h1 {
                font-size: 46px;
                margin-bottom: 45px;
            }

            .case_study_info {
                margin-top: 20px;
            }

            .image_container img {
                margin-top: 35px;
            }

            .right_arrow_grey { margin-top: 115px; }
        }
    }

    /* ===========================================================================
        Case Study Page
        =========================================================================== */

    .case_study_page {

        header {
            h1 {
                margin-top: 70px;
                font-size: 82px;
            }

            h2 { font-size: 25px; }

            .case_study_cover {
                .img_container { background-position: center; }
            }
        }

        .activity_infos {
            padding: 30px 0 36px 0;

            .top_activity_title {
                padding-left: 0;
                span {
                    font-size: 56px;
                }
            }

            .top_activity_progress {
                padding-right: 0;
            }
        }

        .case_studies_menu {
            .case_study_box .top_part {
                min-height: 280px;
            }
        }
    }
}

//  col-lg
@media screen and (min-width: 1200px) {

}

/* ===========================================================================
    Mobile versions of idea park section on main front page
   =========================================================================== */

@media screen and (min-width: 320px) and (max-width: 359px) {
    .index .idea_park {
        .idea_park_activity_container {
            min-height: 213px;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
    .index .idea_park {
        .idea_park_activity_container {
            min-height: 236px;
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 419px) {
    .index .idea_park {
        .idea_park_activity_container {
            min-height: 255px;
        }
    }
}

@media screen and (min-width: 590px) and (max-width: 649px) {
    .index .idea_park {
        .idea_park_activity_container {
            min-height: 346px;
        }
    }
}
